/* Hide all app links and contacts menu link in the top menu except for Talk */
#appmenu li:not([data-id="spreed"]), #contactsmenu {display: none;}

/* Disable Nextcloud, Talk and settings link in the top menu */
#nextcloud, #appmenu li[data-id="spreed"] a, #settings {pointer-events: none;}

/* Hide "More" link in the top menu */
#more-apps {display: none !important;}

/* Change cursor to the default pointer for Talk and settings in the top
menu */
#appmenu li[data-id="spreed"], #settings {cursor: default;}
